parameters:
    level: 2
    paths:
      - src
      - tests

    ignoreErrors:
        - '#Access to an undefined property Symfony\\Component\\Validator\\Constraint::\$message\.#'
        - '#Call to an undefined method Symfony\\Component\\Form\\FormInterface\:\:isClicked\(\)\.#'
