parameters:
    level: 2
    paths:
      - src
      - tests

    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        - '#has invalid type#'
        - '#has invalid return#'
        - '#has unknown class#'
        - '#Deprecated in PHP 8\.4#'
