<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./vendor/autoload.php"
         colors="true"
         verbose="true">

    <testsuites>
        <testsuite name="dfridrich/Library test suite">
            <directory suffix="Test.php">./Tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <const name="DATABOX_LOGIN" value="login" />
        <const name="DATABOX_PASSWORD" value="password" />
        <const name="DATABOX_PRODUCTION" value="false" />
    </php>

    <filter>
        <whitelist>
            <directory>./src</directory>
        </whitelist>
    </filter>
</phpunit>